* text=auto !eol
/.abacus -text
/AUTHORS -text
/CHANGES -text
/COPYRIGHT -text
ETI/active.eti -text
ETI/array.eti -text
ETI/bheap.eti -text
ETI/bprioqueue.eti -text
ETI/bstack.eti -text
ETI/buffer.eti -text
ETI/cutbuffer.eti -text
ETI/dictionary.eti -text
ETI/dlist.eti -text
ETI/dlistitem.eti -text
ETI/hash.eti -text
ETI/idmap.eti -text
ETI/list.eti -text
ETI/listitem.eti -text
ETI/lpsolution.eti -text
ETI/nonduplpool.eti -text
ETI/pool.eti -text
ETI/poolslot.eti -text
ETI/poolslotref.eti -text
ETI/ring.eti -text
ETI/separator.eti -text
ETI/sorter.eti -text
ETI/standardpool.eti -text
/INSTALL -text
Include/abacus/abacusroot.h -text
Include/abacus/active.h -text
Include/abacus/active.inc -text
Include/abacus/array.h -text
Include/abacus/array.inc -text
Include/abacus/bheap.h -text
Include/abacus/bheap.inc -text
Include/abacus/boundbranchrule.h -text
Include/abacus/bprioqueue.h -text
Include/abacus/bprioqueue.inc -text
Include/abacus/branchrule.h -text
Include/abacus/bstack.h -text
Include/abacus/bstack.inc -text
Include/abacus/buffer.h -text
Include/abacus/buffer.inc -text
Include/abacus/column.h -text
Include/abacus/colvar.h -text
Include/abacus/conbranchrule.h -text
Include/abacus/conclass.h -text
Include/abacus/constraint.h -text
Include/abacus/convar.h -text
Include/abacus/cowtimer.h -text
Include/abacus/cputimer.h -text
Include/abacus/csense.h -text
Include/abacus/cutbuffer.h -text
Include/abacus/cutbuffer.inc -text
Include/abacus/debug.h -text
Include/abacus/dictionary.h -text
Include/abacus/dictionary.inc -text
Include/abacus/dlist.h -text
Include/abacus/dlist.inc -text
Include/abacus/dlistitem.h -text
Include/abacus/dlistitem.inc -text
Include/abacus/dualbound.h -text
Include/abacus/exceptions.h -text
Include/abacus/fastset.h -text
Include/abacus/fixcand.h -text
Include/abacus/fsvarstat.h -text
Include/abacus/global.h -text
Include/abacus/hash.h -text
Include/abacus/hash.inc -text
Include/abacus/history.h -text
Include/abacus/id.h -text
Include/abacus/idmap.h -text
Include/abacus/idmap.inc -text
Include/abacus/infeascon.h -text
Include/abacus/intset.h -text
Include/abacus/list.h -text
Include/abacus/list.inc -text
Include/abacus/listitem.h -text
Include/abacus/listitem.inc -text
Include/abacus/lp.h -text
Include/abacus/lpmaster.h -text
Include/abacus/lpmasterosi.h -text
Include/abacus/lpsolution.h -text
Include/abacus/lpsolution.inc -text
Include/abacus/lpsub.h -text
Include/abacus/lpsubosi.h -text
Include/abacus/lpvarstat.h -text
Include/abacus/master.h -text
Include/abacus/message.h -text
Include/abacus/mtserver.h -text
Include/abacus/nonduplpool.h -text
Include/abacus/nonduplpool.inc -text
Include/abacus/numcon.h -text
Include/abacus/numvar.h -text
Include/abacus/opensub.h -text
Include/abacus/optsense.h -text
Include/abacus/osiif.h -text
Include/abacus/osiinclude.h -text
Include/abacus/ostream.h -text
Include/abacus/parmaster.h -text
Include/abacus/pool.h -text
Include/abacus/pool.inc -text
Include/abacus/poolslot.h -text
Include/abacus/poolslot.inc -text
Include/abacus/poolslotref.h -text
Include/abacus/poolslotref.inc -text
Include/abacus/ring.h -text
Include/abacus/ring.inc -text
Include/abacus/row.h -text
Include/abacus/rowcon.h -text
Include/abacus/separator.h -text
Include/abacus/separator.inc -text
Include/abacus/set.h -text
Include/abacus/setbranchrule.h -text
Include/abacus/slackstat.h -text
Include/abacus/sorter.h -text
Include/abacus/sorter.inc -text
Include/abacus/sparvec.h -text
Include/abacus/srowcon.h -text
Include/abacus/standardpool.h -text
Include/abacus/standardpool.inc -text
Include/abacus/string.h -text
Include/abacus/sub.h -text
Include/abacus/subserver.h -text
Include/abacus/tailoff.h -text
Include/abacus/timer.h -text
Include/abacus/valbranchrule.h -text
Include/abacus/variable.h -text
Include/abacus/vartype.h -text
/LICENSE -text
Make-settings/linux20-gcc33 -text
Make-settings/linux20-gcc34 -text
Make-settings/linux20-gcc41 -text
Make-settings/linux20-gcc43 -text
Make-settings/linux20-gcc44 -text
/Makefile -text
/README -text
/ReleaseNotes.3.2beta -text
Tex/abacus.bib -text
Tex/advanced.tex -text
Tex/basic.tex -text
Tex/changes.tex -text
Tex/changes20.tex -text
Tex/changes21.tex -text
Tex/changes23.tex -text
Tex/changes30.tex -text
Tex/design.tex -text
Tex/doxygen.sty -text
Tex/figures/derive.ps -text
Tex/figures/lp.ps -text
Tex/figures/lpnew.eps -text
Tex/figures/pool.ps -text
Tex/html.sty -text
Tex/index.sty -text
Tex/installation.tex -text
Tex/introduction.tex -text
Tex/macros.tex -text
Tex/manual.tex -text
Tex/parallel.w -text
Tex/preprocessor.tex -text
Tex/reference-par.tex -text
Tex/referencemanual.tex -text
Tex/serialization.w -text
Tex/templates.tex -text
Tex/tex4ht.env -text
Tex/title.tex -text
Tex/warranty.tex -text
/abacus-doxygen -text
example/.tsp -text
example/Makefile -text
example/README -text
example/berlin52.tsp -text
example/bier127.tsp -text
example/classes.ps -text
example/degree.w -text
example/degree.wh -text
example/edge.w -text
example/edge.wh -text
example/eil76.tsp -text
example/mincut/GoldbergTarjan.c -text
example/mincut/Makefile -text
example/mincut/PadbergRinaldi.c -text
example/mincut/PadbergRinaldi.h -text
example/mincut/README -text
example/mincut/initdistlabels.c -text
example/mincut/mincut.h -text
example/mincut/reinitdistlabels.c -text
example/subtour.w -text
example/subtour.wh -text
example/tsp.w -text
example/tspmain.w -text
example/tspmaster.w -text
example/tspmaster.wh -text
example/tspsub.w -text
example/tspsub.wh -text
sources/abacusroot.cc -text
sources/active.cc -text
sources/array.cc -text
sources/bheap.cc -text
sources/boundbranchrule.cc -text
sources/bprioqueue.cc -text
sources/branchrule.cc -text
sources/bstack.cc -text
sources/buffer.cc -text
sources/column.cc -text
sources/colvar.cc -text
sources/conbranchrule.cc -text
sources/conclass.cc -text
sources/constraint.cc -text
sources/convar.cc -text
sources/cowtimer.cc -text
sources/cputimer.cc -text
sources/csense.cc -text
sources/cutbuffer.cc -text
sources/dictionary.cc -text
sources/dlist.cc -text
sources/dlistitem.cc -text
sources/dualbound.cc -text
sources/fastset.cc -text
sources/fixcand.cc -text
sources/fsvarstat.cc -text
sources/global.cc -text
sources/hash.cc -text
sources/history.cc -text
sources/id.cc -text
sources/idmap.cc -text
sources/infeascon.cc -text
sources/intset.cc -text
sources/list.cc -text
sources/listitem.cc -text
sources/lp.cc -text
sources/lpif.cc -text
sources/lpmasterosi.cc -text
sources/lpsolution.cc -text
sources/lpsub.cc -text
sources/lpsubosi.cc -text
sources/lpvarstat.cc -text
sources/macros.cc -text
sources/master.cc -text
sources/message.cc -text
sources/mtserver.cc -text
sources/nonduplpool.cc -text
sources/numcon.cc -text
sources/numvar.cc -text
sources/opensub.cc -text
sources/optsense.cc -text
sources/osiif.cc -text
sources/ostream.cc -text
sources/parmaster.cc -text
sources/pool.cc -text
sources/poolslot.cc -text
sources/poolslotref.cc -text
sources/ring.cc -text
sources/row.cc -text
sources/rowcon.cc -text
sources/separator.cc -text
sources/set.cc -text
sources/setbranchrule.cc -text
sources/slackstat.cc -text
sources/sorter.cc -text
sources/sparvec.cc -text
sources/srowcon.cc -text
sources/standardpool.cc -text
sources/string.cc -text
sources/sub.cc -text
sources/subserver.cc -text
sources/tailoff.cc -text
sources/timer.cc -text
sources/valbranchrule.cc -text
sources/variable.cc -text
sources/vartype.cc -text
